@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-blue: #161853;
	--light-blue: #03a9f4;
	--blue: #292c6d;
	--off-white: #fbe5e5;
	--red: #ec255a;
}

body {
	font-family: 'Lato';
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	background: linear-gradient(var(--light-blue), var(--dark-blue));
	color: var(--off-white);
}

.clockContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

#time {
	background-color: var(--blue);
	padding: 50px;
	border-radius: 50px;
	border: 20px solid #3f51b5;
}

.number {
	font-size: 7rem;
	font-weight: 300;
}

#timeOfDay {
	font-size: 4rem;
	font-weight: 200;
}

p {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 2px;
}

.bottom-continer {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 3px;
}

@media (max-width: 768px) {
	.number {
		font-size: 5rem;
	}
	#timeOfDay {
		font-size: 2.5rem;
	}
	p {
		font-size: 1.2rem;
		letter-spacing: 1.5px;
	}
	.bottom-continer {
		font-size: 1.5rem;
		letter-spacing: 2px;
	}
	#time {
		border: 15px solid #3f51b5;
	}
}
@media (max-width: 580px) {
	.number {
		font-size: 3.4rem;
	}
	#timeOfDay {
		font-size: 1.2rem;
	}
	#time {
		border: 15px solid #3f51b5;
		padding: 30px;
	}
	p {
		font-size: 0.8rem;
	}
	.bottom-continer {
		font-size: 1.4rem;
		letter-spacing: 2px;
	}
}
@media (max-width: 387px) {
	.number {
		font-size: 3rem;
	}
	#timeOfDay {
		font-size: 1rem;
	}
	#time {
		border: 12px solid #3f51b5;
		padding: 25px;
	}
	.bottom-continer {
		font-size: 1.2rem;
	}
}
@media (max-width: 335px) {
	.number {
		font-size: 2.5rem;
	}
	#timeOfDay {
		font-size: 1rem;
	}
	#time {
		border: 12px solid #3f51b5;
	}
	.bottom-continer {
		font-size: 1.2rem;
	}
}
